<%- include('./partials/head') %>
<script src="/script.js"></script>

<header>
  <div class="header-full">
      <div class="logo">SquadPage Age Machine</div>
      <nav>
          <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#squadmachine">SquadMachine</a></li>
          </ul>
      </nav>
  </div>
</header>

<main>
  <section class="age-machine-information">
    <h1>Squad page machine uitleg</h1>
    <h2>Wij hebben een age machine gemaakt. Als jij wilt weten welke studenten bijvoorbeeld 18 zijn dan kan dat met onze fantastische squad page age machine. Het enige wat JIJ  moet doen is de leeftijd die jij wilt weten draggen in de machine. Kom op probeer maar!</h2>
    <p>Gemaakt door Ruben Erhardt</p>
  </section>

  <div id="ageList">
  </div>

  <div id="ageBox" ondrop="drop(event)" ondragover="allowDrop(event)">
    Drop hier de leeftijd die jij wilt weten!
  </div>

  <div id="infobox">
  </div>

</main>


<%- include('./partials/foot') %>