<%- include('./partials/head') %>
<script src="/script.js"></script>

<main>
  <section class="age-machine-information">
    <h1>Squad page machine</h1>
    <h2>Wij hebben een age machine gemaakt. Als jij wilt weten welke studenten bijvoorbeeld 18 zijn dan kan dat met onze fantastische squad page age machine. Het enige wat JIJ  moet doen is de leeftijd die jij wilt weten draggen in de machine. Kom op probeer maar!</h2>
  </section>

  <div id="ageList">
  </div>
</main>

<div class="informatie-machine">
  <div id="ageBox" ondrop="drop(event)" ondragover="allowDrop(event)">
    <p>Drop hier de leeftijd die jij wilt weten en zie hieronder wie allemaal deze leeftijd hebben! </p>
  </div>
 <div id="infobox">
  </div>
</div>

<button data-action="clearLikesDislikes">Clear Likes/Dislikes</button>


<%- include('./partials/foot') %>